<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.android.blog">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:name=".App"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:theme="@style/Theme.AppCompat.NoActionBar">

        <activity android:name=".informal.静态变量.StaticFieldActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".android.graphics.demo.v4.MeasureTestActivity" />

        <activity android:name=".android.graphics.demo.v4.LayoutTestActivity" />

        <activity android:name="com.android.blog.android.jetpack.fragment.demo.FragmentTestMainActivity" />

        <activity android:name=".android.graphics.demo.v5.TouchTestActivity" />

        <activity android:name=".informal.quitloop.LooperQuitTestActivity" />

    </application>

</manifest>